<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://i.ytimg.com/vi/xslNg4joHg8/maxresdefault.jpg" height="32px" width="40px">
  </body>
</html>
