<form method="post" action="loginform">
<label>name:</label><input type="text" name="name">
<label>password:</label><input type="password" name="password">
<input type="submit" name="submit" value="submit">
</form>